
/*------------ Body ---------------*/
body{
    margin: 0;
}

/*------------ Header -------------*/
.heroimage{
    background-image: url("../images/heroimage2.jpg");
    background-position: center;
    background-size: cover;
    height: 75vh;
}

.nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    background-color: pink; /*temporary*/
    width: 19%;
    margin: 0;
    text-align: center;
}

nav ul li:hover {
    background-color: red; /*temporary*/
}

nav ul li a {
    text-decoration: none;
    font-family: sans-serif;    /*temporary*/
    color: #fff;            /*temporary*/
}

#hero-quote{
    position: relative;
}

#hero-quote-text{
    position: absolute;
    top: 52vh;
    right: 40px;
    width: 30%;
    background-color: rgba(235, 235, 235, 0.5); /*temporary*/
    font-size: 2.5vw;
    text-align: center;
}

/*--------------Main Content -----------------*/

#home-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
}

#home-first-section {
    background-color: rgb(236, 165, 165);   /*temporary*/
    flex:1;
}

#home-second-section {
    background-color: rgb(202, 61, 61); /*temporary*/
    flex:1;
}

#home-third-section{
    background-color: rgb(148, 34, 34); /*temporary*/
    flex:1;
}

/*-------------- Footer --------------*/

.footer-container{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
}

.footer-first-section{
    background-color: rgb(109, 221, 146);   /*temporary*/
    flex:1;
}

.footer-second-section{
    background-color: rgb(30, 172, 73);
    flex:1;
}

.footer-third-section{
    background-color: rgb(28, 110, 62);
    flex:1;
}

/*----------- Media Quieries --------------*/

@media screen and (min-width: 768px) {

#home-container{
    flex-direction: row;
}

.footer-container{
    flex-direction: row;
}

}